{
  "openapi": "3.0.1",
  "info": {
    "title": "SimpleTexting API Documentation",
    "version": "2.0.0",
    "description": "# Introduction\n\nThousands of businesses rely on SimpleTexting to communicate with their audience via text message. With our API, developers can access many of our platform’s features and integrate them with other websites or applications. This document details the available SimpleTexting API functions and their parameters. For additional security, our API is by approval only. If you’d like access, sign up for a trial account and email [support@simpletexting.net](https://simpletexting.com/api/docs/support@simpletexting.net) with details about your use case.\n\n**How it works**\n\nOur API is organized around [REST](https://en.wikipedia.org/wiki/Representational_state_transfer). It uses standard HTTP response codes and authentication. Before you get started, there a few things to keep in mind:\n\n- When using the POST request, you must specify that `content-type` is `application/json`.\n\n- The default response for all requests is JSON. To use XML, you must change the value for the `Accept` request header to `application/xml`.\n\n# Authentication\n\nEach time you make a request to our API, we use a bearer token in your header to authenticate your account. API requests without authentication will fail. Your API token can be found under [settings](https://app2.simpletexting.com/account/api).<br><br>Please be sure to keep your bearer token secure. Don’t share it any public areas such as GitHub, client-side code, etc."
  },
  "servers": [
    {
      "url": "https://api-app2.simpletexting.com/v2/api/"
    }
  ],
  "tags": [
    {
      "name": "Base URL",
      "description": "`https://api-app2.simpletexting.com/v2/api/`"
    },
    {
      "name": "File Information",
      "description": "We can accept a wide variety of file types over MMS. The industry standard maximum file size limit is `600KB` for toll-free accounts and is `1MB` on shortcode accounts.\n\nWe support the following file type: `MPEG Audio, MPEG Video, MP4 Video, VCARDs, PDF`\n\n For popular image types we can accept media up to `15MB`, our system will automatically compress these to the `600KB` industry limitation. These media types include: `JPEG, PNG, GIF`"
    },
    {
      "name": "Campaigns",
      "description": "Send and manage campaigns directly from the SimpleTexting API. The endpoint allows you to Create and Send a campaign, get a specific campaign by its name or id, or list all of your SimpleTexting campaigns. \n\n**Note:** If the message contains a link from a common third-party link shortener such a bit.ly, it will appear from our URL shortener instead and occupy 20 characters. [Learn more](https://help.simpletexting.com/en/articles/3362741-why-carriers-don-t-allow-bit-ly-and-other-third-party-link-shorteners)."
    },
    {
      "name": "Contacts",
      "description": "At a minimum, each contact in SimpleTexting must have a phone number. Contacts can also hold additional information including first name, last name, and email address. You can also create custom fields to store data specific to your website or app’s needs."
    },
    {
      "name": "Batch Update or Delete Contacts",
      "description": "An endpoint to assist in batch operations on your contacts. Using these operations, you can update specific contact information, or delete contacts, all using the contacts phone as an id."
    },
    {
      "name": "Contact Lists",
      "description": "Create, update, and delete contact lists."
    },
    {
      "name": "Custom Fields",
      "description": "SimpleTexting's Custom Fields feature plays a key role in managing your customer data. Not only does it give you enormous flexibility when it comes to [collecting](https://help.simpletexting.com/using-simpletexting/apps-and-features/collecting-subscriber-data) or [importing](https://help.simpletexting.com/using-simpletexting/lists-and-contacts/importing-contacts) data, it also lets you quickly and easily personalize each message in a [mass text](https://simpletexting.com/mass-texting/) campaign."
    },
    {
      "name": "Media Items",
      "description": "When sending messages via the SimpleTexting platform, you may need to attach various media items. This API allows you to perform various operations needed to manage your media attachments. The size limitations of these items are discussed [here](#tag/File-Size)."
    },
    {
      "name": "Messages",
      "description": "In SimpleTexting, users can send and receive messages. With our API, this can be done programmatically.\n\n**Note:** If the message contains a link from a common third-party link shortener such a bit.ly, it will appear from our URL shortener instead and occupy 20 characters. [Learn more](https://help.simpletexting.com/en/articles/3362741-why-carriers-don-t-allow-bit-ly-and-other-third-party-link-shorteners)."
    },
    {
      "name": "Webhooks",
      "description": "Use webhooks to communicate between the SimpleTexting platform and your server. Webhooks can be used to forward messages as well as provide info about unsubscribes and message delivery.\n\nSimpleTexting can trigger webhooks for new incoming messages, delivery reports, unsubscribes, and more. Now you can build scripts that interpret and respond to events that occur in your SimpleTexting account! To set the URLs for your webhooks, visit the Webhooks tab on the API section of [settings](https://app2.simpletexting.com/account/api)."
    },
    {
      "name": "Webhook Reports",
      "description": "Use webhooks to communicate between the SimpleTexting platform and your server. Webhooks can be used to forward messages as well as provide info about unsubscribes and message delivery. SimpleTexting can trigger webhooks for new incoming messages, delivery reports and unsubscribes."
    }
  ],
  "paths": {
    "/api/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get all Webhooks",
        "description": "Retrieve all the webhooks that you've created.",
        "operationId": "getWebhooks",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The number of webhooks returned with each request",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 5
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page.",
            "required": false,
            "schema": {
              "maximum": 500,
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns page of webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhooksPageView"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a Webhook",
        "description": "Create a new webhook from scratch",
        "operationId": "createWebhook",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success. Webhook was created."
          },
          "400": {
            "description": "Error. Invalid phone format."
          }
        }
      }
    },
    "/api/webhooks/{webhookId}": {
      "put": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update a Webhook",
        "description": "Update an existing webhook using its unique id.",
        "operationId": "updateWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "Webhook id in hexadecimal format",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success. Webhook was updated"
          },
          "404": {
            "description": "Error. Webhook not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete a Webhook",
        "description": "Delete an exsisting webhook by its unique id",
        "operationId": "deleteWebhook",
        "parameters": [
          {
            "name": "webhookId",
            "in": "path",
            "description": "Webhook id in hexadecimal format",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "204": {
            "description": "Success. Webhook was deleted."
          }
        }
      }
    },
    "/api/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get all Contacts",
        "description": "For a given account, return all contacts that have been created in the account. A paginated list of contacts will be returned to you",
        "operationId": "fetchContacts",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The number of contacts returned with each request",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 250
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page.",
            "required": false,
            "schema": {
              "maximum": 500,
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "example": 150
          },
          {
            "name": "since",
            "in": "query",
            "description": "List contacts updated since a specified date. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2021-04-28T23:20:08.489Z"
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Specify the sort order of your results. By default, results are sorted by the 'updated' field.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "ASC",
                "DESC"
              ]
            },
            "example": "desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns a paginated list of contacts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactPageView"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "summary": "Create a Contact",
        "description": "Create a new contact and add them to a specific list.",
        "operationId": "createContact",
        "parameters": [
          {
            "name": "upsert",
            "in": "query",
            "description": "If a contact already exists with the phone number in your request body, the contact will be updated with the information in the request when upsert is set to true.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          },
          {
            "name": "listsReplacement",
            "in": "query",
            "description": "If listsReplacement is set to true, a contact will be removed from their existing list. If set to false, a contact will be added to a new list and stay in their original list.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success. Contact created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseID"
                }
              }
            }
          }
        }
      }
    },
    "/api/contacts/{contactIdOrNumber}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "summary": "Get a Contact",
        "description": "Get a contact via their unique id or phone number. Phone number is the preferred parameter for this call.",
        "operationId": "getContact",
        "parameters": [
          {
            "name": "phoneNumberOrContactId",
            "in": "path",
            "description": "Phone number (preferred) or Contact id in hexadecimal format",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3051234567 or 507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Fetched contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "summary": "Update a Contact",
        "description": "Update a contact’s phone number or any other field.",
        "operationId": "updateContact",
        "parameters": [
          {
            "name": "contactIdOrNumber",
            "in": "path",
            "description": "Contact id in hexadecimal format or the contact's phone number.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "3051234567 / 507f1f77bcf86cd799439011"
          },
          {
            "name": "listsReplacement",
            "in": "query",
            "description": "If listsReplacement is set to true, a contact will be removed from their existing list. If set to false, a contact will be added to a new list and stay in their original list.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          },
          {
            "name": "upsert",
            "in": "query",
            "description": "If a contact already exists with the phone number in your request body, the contact will be updated with the information in the request when upsert is set to true.",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SingleContactUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Contact is updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseID"
                }
              }
            }
          },
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactUpdateResult"
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "summary": "Delete a Contact",
        "description": "Delete a contact via their unique id or phone.",
        "operationId": "deleteContact",
        "parameters": [
          {
            "name": "contactIdOrNumber",
            "in": "path",
            "description": "Contact id in hexadecimal format or phone number",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "204": {
            "description": "Success. Contact is deleted."
          }
        }
      }
    },
    "/api/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get all Campaigns",
        "description": "Get all campaigns from the SimpleTexting system.\n\n**Example:** We request all `SENT` campaigns sent from 555888 to the list `My  First List`:\n\n`https://api-app2.simpletexting.com/v2/api/api/campaigns?page=100&size=2&accountPhone=555888&state=SENT&listNameOrId=My First List&startDateFrom=2021-04-28T23:20:08.489Z&startDateTo=2021-05-28T23:20:08.489Z`",
        "operationId": "fetchCampaigns",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The number of campaigns returned with each request",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 100
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page.",
            "required": false,
            "schema": {
              "maximum": 500,
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "example": 2
          },
          {
            "name": "accountPhone",
            "in": "query",
            "description": "The phone number the campaign was sent from",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 555888
          },
          {
            "name": "state",
            "in": "query",
            "description": "The the current state of the campaigns you wish to retrieve",
            "required": false,
            "schema": {
              "type": "string",
              "default": "SENT",
              "enum": [
                "DRAFT",
                "PAUSED",
                "SENT",
                "SCHEDULED"
              ]
            },
            "example": "SENT"
          },
          {
            "name": "listNameOrId",
            "in": "query",
            "description": "The list name or list id",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "My First List"
          },
          {
            "name": "startDateFrom",
            "in": "query",
            "description": "List campaigns starting from a certain date. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2021-04-28T23:20:08.489Z"
          },
          {
            "name": "startDateTo",
            "in": "query",
            "description": "List campaigns up to a certain date. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2021-05-28T23:20:08.489Z"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Fetched list of campaigns",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignPageView"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Send a Campaign",
        "description": "Create and send a campaign\n\n**Example:** Here we created a campaign from our short code `555888` and sent it to a segment identified here by its id, along with a list called `My First List`. We also specified that the `First Name` custom field will only take up 20 characters. Finally, we specified that 2 pieces of media will be attached. One is housed on SimpleTexting and identified by its id, the other is getting pulled from an external link:\n\n`{ \"title\": \"My first campaign\", \"listsOrSegments\": [ \"507f191e810c19729de860ea\", \"My First List\" ], \"accountPhone\": \"555888\", \"customFieldsMaxLength\": { \"firstName\": 20 }, \"messageTemplate\": { \"title\": \"My first campaign\", \"subject\": \"My first campaign\", \"text\": \"Hi %%firstname%%, welcome to our campaign!\", \"fallbackText\": \"My first campaign\", \"mediaItems\": [ \"https://txt.so/img.jpg\", \"507f1f77bcf86cd799439011\" ] } }`",
        "operationId": "createCampaign",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCampaignTemplate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success. Campaign was created"
          }
        }
      }
    },
    "/api/campaigns/{campaignId}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a Campaign",
        "description": "Get a campaign via its unique id.",
        "operationId": "getCampaign",
        "parameters": [
          {
            "name": "campaignId",
            "in": "path",
            "description": "Campaign id in hexadecimal format",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Fetched campaign",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchedCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/api/contact-lists": {
      "get": {
        "tags": [
          "Contact Lists"
        ],
        "summary": "Get all Lists",
        "description": "For a given SimpleTexting account, return all lists that have been created.",
        "operationId": "getLists",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The number of lists returned with each request",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 15
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page.",
            "required": false,
            "schema": {
              "maximum": 500,
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns all lists in a given SimpleTexting account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPageView"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contact Lists"
        ],
        "summary": "Create a List",
        "description": "This endpoint is used to create a new contact list in a given SimpleTexting account.",
        "operationId": "createList",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/List Dto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success. List created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseID"
                }
              }
            }
          }
        }
      }
    },
    "/api/contact-lists/{listId}": {
      "get": {
        "tags": [
          "Contact Lists"
        ],
        "summary": "Get a List",
        "description": "Return a contact list by its unique list id.",
        "operationId": "getList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "List id in hexadecimal format",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Fetched list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contact Lists"
        ],
        "summary": "Update a List Name",
        "description": "Update the name of an existing list.",
        "operationId": "updateList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "List id in hexadecimal format",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/List Dto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success. List name updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseID"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Contact Lists"
        ],
        "summary": "Delete a List",
        "description": "Delete an existing list using the list id.",
        "operationId": "deleteList",
        "parameters": [
          {
            "name": "listId",
            "in": "path",
            "description": "List id in hexadecimal format",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "204": {
            "description": "Success. List was deleted"
          }
        }
      }
    },
    "/report/incoming": {
      "post": {
        "tags": [
          "Webhook Reports"
        ],
        "summary": "Incomming/Outgoing Message Report",
        "description": "Triggers when an outgoing message or incomming message is handeled.\n\n**Example:** We create the incoming webhook for 555888 from contact phone 8001234567:\n\n`{\"url\": \"http://www.yourdomain.com/receivesms.php\",\"triggers\": [\"INCOMING_MESSAGE\"],\"requestPerSecLimit\": 25,\"tenantPhone\": \"555888\",\"contactPhone\": \"8001234567\"}`",
        "servers": [
          {
            "url": "https://yourdomain.com/"
          }
        ],
        "operationId": "incomingMessageReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IncommingMessageReport"
              }
            }
          },
          "required": true
        }
      }
    },
    "/report/delivery": {
      "post": {
        "tags": [
          "Webhook Reports"
        ],
        "summary": "Delivery/Non Delivered Message Report",
        "description": "Triggers when an outgoing message is reported as delivered or undelivered by the carrier.\n\n**Example:** We create the Delivery report for 555888 for the status of the outgoing messages to 8001234567:\n\n`{\"url\": \"http://www.yourdomain.com/receivesms.php\",\"triggers\": [\"DELIVERY_REPORT\"],\"requestPerSecLimit\": 25,\"tenantPhone\": \"555888\",\"contactPhone\": \"8001234567\"}`\n\n Your custom domain `http://www.yourdomain.com/delivery.php` has been set as delivery report webhook for this example. The SimpleTexting server will invoke the given call when a message with the messageId 507f191e810c19729de860ea is delivered.",
        "servers": [
          {
            "url": "https://yourdomain.com/"
          }
        ],
        "operationId": "deliveryMessageReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeliveryMessageReport"
              }
            }
          },
          "required": true
        }
      }
    },
    "/report/unsubscribe": {
      "post": {
        "tags": [
          "Webhook Reports"
        ],
        "summary": "Unsubscribe Report",
        "description": "Triggers when client send STOP to your number.\n\n**Example:** We create the Unsubscribe report for 555888 for the status of the outgoing messages to 8001234567:\n\n`{\"url\": \"http://www.yourdomain.com/receivesms.php\",\"triggers\": [\"UNSUBSCRIBE_REPORT\"],\"requestPerSecLimit\": 25,\"tenantPhone\": \"555888\",\"contactPhone\": \"8001234567\"}`\n\n Your custom domain `http://www.yourdomain.com/delivery.php` has been set as unsubscribe report URL for this example. The SimpleTexting server will invoke the given call when the subscriber with the number 8001234567 unsubscribes.",
        "servers": [
          {
            "url": "https://yourdomain.com/"
          }
        ],
        "operationId": "unsubscribeMessageReport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsubscribeReport"
              }
            }
          },
          "required": true
        }
      }
    },
    "/api/messages": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get all Messages",
        "description": "Retrieves a list of all messages sent to a specific contact from a specific number on your account.",
        "operationId": "getMessages",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The number of messages returned with each request",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 25
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page.",
            "required": false,
            "schema": {
              "maximum": 500,
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "example": 50
          },
          {
            "name": "accountPhone",
            "in": "query",
            "description": "The phone number on your account the messages were sent to. If blank, the request will return all messages to all numbers",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 555888
          },
          {
            "name": "since",
            "in": "query",
            "description": "First sent/received timestamp. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "example": "2021-04-28T23:20:08.489Z"
          },
          {
            "name": "contactPhone",
            "in": "query",
            "description": "The contact's phone number",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": 8001234567
          },
          {
            "name": "category",
            "in": "query",
            "description": "Category is only available for messages you send",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "SMS",
                "MMS",
                "EXTENDED_SMS"
              ]
            },
            "example": "API"
          },
          {
            "name": "directionType",
            "in": "query",
            "description": "MO/MT (mobile terminated) refers to sent messages. MO (mobile originated) refers to received messages",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "MT",
                "MO"
              ]
            },
            "example": "MO"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns a list of messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessagePageView"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Send a Message",
        "description": "Send either an MMS or SMS message to a contact. Use this programmatically to send to multiple contacts.\n\nIf the message contains a link from a common third-party link shortener such as [bit.ly](http://bit.ly/), it will appear from our URL shortener instead and occupy 20 characters. [Learn more](https://help.simpletexting.com/en/articles/3362741-why-carriers-don-t-allow-bit-ly-and-other-third-party-link-shorteners).\n\nThere are limitations on Media Files with MMS messages. The size limitations of these items are discussed [here](#tag/File-Size).",
        "operationId": "createMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MessageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success. A message was created."
          }
        }
      }
    },
    "/api/messages/{messageId}": {
      "get": {
        "tags": [
          "Messages"
        ],
        "summary": "Get a Message",
        "description": "Retrieve a specific message from the system via its message id.",
        "operationId": "getMessage",
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "Message id in hexadecimal format",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Retrieved a message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        }
      }
    },
    "/api/messages/evaluate": {
      "post": {
        "tags": [
          "Messages"
        ],
        "summary": "Evaluate a Message",
        "description": "Evaluate the body of your message before sending it to a contact or contacts.",
        "operationId": "evaluateMessage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluateMessage"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success. You have a message to evaluate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/mediaitems": {
      "get": {
        "tags": [
          "Media Items"
        ],
        "summary": "Get Media Items",
        "description": "When sending messages via the SimpleTexting platform, you may need to attach various media items. This API allows you to perform various operations needed to manage your media attachments.",
        "operationId": "getMediaItems",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Number of pages",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 29
          },
          {
            "name": "size",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "maximum": 500,
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Success. Returns a page of media items.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaItemsPageView"
                }
              }
            }
          }
        }
      }
    },
    "/api/mediaitems/loadByLink": {
      "post": {
        "tags": [
          "Media Items"
        ],
        "summary": "Upload Media Using a URL",
        "description": "This endpoint allows you to upload media via a URL so that you can send it in a message to a contact.",
        "operationId": "uploadByLink",
        "parameters": [
          {
            "name": "shared",
            "in": "query",
            "description": "Define whether a media file is shared with teammates",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadByLink"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success. Media is uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaFile"
                }
              }
            }
          }
        }
      }
    },
    "/api/mediaitems/{mediaItemId}": {
      "delete": {
        "tags": [
          "Media Items"
        ],
        "summary": "Delete Media",
        "description": "Remove media that you have previously uploaded to SimpleTexting.",
        "operationId": "delete",
        "parameters": [
          {
            "name": "mediaItemId",
            "in": "path",
            "description": "The mediaItemId in hexadecimal format",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "507f1f77bcf86cd799439011"
          }
        ],
        "responses": {
          "description": "Success. Media was deleted.",
          "204": {
            "description": "Media is deleted"
          }
        }
      }
    },
    "/api/mediaitems/upload": {
      "post": {
        "tags": [
          "Media Items"
        ],
        "summary": "Upload Media",
        "description": "Upload a media file directly to SimpleTexting that can then be sent in a message to a contact.",
        "operationId": "upload",
        "parameters": [
          {
            "name": "shared",
            "in": "query",
            "description": "Define whether a media file is shared with teammates",
            "schema": {
              "type": "boolean",
              "default": true
            },
            "example": false
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "The media file you want to upload",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success. Media is uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MediaFile"
                }
              }
            }
          }
        }
      }
    },
    "/api/contacts-batch/batch-update": {
      "post": {
        "tags": [
          "Batch Update or Delete Contacts"
        ],
        "summary": "Update a group of contacts",
        "description": "Update multiple fields at once for a batch of contacts. You can update their first name, last name, emails, lists, and more.",
        "operationId": "processBatchUpdate",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactsBatchUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success. Contacts were successfully updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsBatchUpdateResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/contacts-batch/batch-delete": {
      "post": {
        "tags": [
          "Batch Update or Delete Contacts"
        ],
        "summary": "Delete a group of contacts",
        "description": "Delete a group of contacts from SimpleTexting using their phone numbers.",
        "operationId": "processBatchDelete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactsBatchDelete"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Success. Contacts were successfully deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContactsBatchDeleteResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/custom-fields": {
      "get": {
        "tags": [
          "Custom Fields"
        ],
        "summary": "Get all Custom Fields",
        "description": "This endpoint allows you to retrieve all custom fields.",
        "operationId": "getCustomFields",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The number of custom fields returned with each request",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "example": 40
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page.",
            "required": false,
            "schema": {
              "maximum": 500,
              "type": "integer",
              "format": "int32",
              "default": 50
            },
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Success. All custom fields retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomFieldPageView"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FetchedWebhook": {
        "type": "object",
        "properties": {
          "url": {
            "description": "URL for handling POST request\n\n**Example:** `https://example.com`",
            "type": "string",
            "example": "https://example.com"
          },
          "triggers": {
            "description": "Trigger a webhook on specific platform events\n\n**Example:** `INCOMING_MESSAGE`",
            "type": "array",
            "example": [
              "INCOMING_MESSAGE"
            ],
            "items": {
              "description": "Trigger a webhook on specific platform events",
              "type": "string",
              "example": "[\"INCOMING_MESSAGE\"]",
              "enum": [
                "INCOMING_MESSAGE",
                "OUTGOING_MESSAGE",
                "DELIVERY_REPORT",
                "NON_DELIVERED_REPORT",
                "UNSUBSCRIBE_REPORT"
              ]
            }
          },
          "requestPerSecLimit": {
            "description": "The maximum number of requests that can be sent within one second\n\n**Example:** `20`",
            "maximum": 25,
            "type": "integer",
            "format": "int32",
            "example": 20
          },
          "tenantPhone": {
            "description": "Optional: requests will come exclusively for the specified tenant phone number\n\n**Example:** `8881234567`",
            "type": "string",
            "example": "8881234567"
          },
          "contactPhone": {
            "description": "Optional: requests will come exclusively for the specified contact phone number\n\n**Example:** `3051234567`",
            "type": "string",
            "example": "3051234567"
          }
        }
      },
      "WebhookRequest": {
        "required": [
          "triggers",
          "url"
        ],
        "type": "object",
        "properties": {
          "url": {
            "description": "The URL for handling a POST request\n\n**Example:** `https://example.com`",
            "type": "string",
            "example": "https://example.com"
          },
          "triggers": {
            "description": "Trigger a webhook based on a specific platform event\n\n**Example:** `INCOMING_MESSAGE`",
            "type": "array",
            "example": [
              "INCOMING_MESSAGE"
            ],
            "items": {
              "description": "Trigger a webhook based on a specific platform event",
              "type": "string",
              "example": "[\"INCOMING_MESSAGE\"]",
              "enum": [
                "INCOMING_MESSAGE",
                "OUTGOING_MESSAGE",
                "DELIVERY_REPORT",
                "NON_DELIVERED_REPORT",
                "UNSUBSCRIBE_REPORT"
              ]
            }
          },
          "requestPerSecLimit": {
            "description": "The maximum number of requests that can be sent within a second\n\n**Example:** `15`",
            "maximum": 25,
            "type": "integer",
            "format": "int32",
            "example": 15
          },
          "tenantPhone": {
            "description": "Optional: requests will come exclusively for the specified tenant phone number\n\n**Example:** `8881234567`",
            "type": "string",
            "example": "8881234567"
          },
          "contactPhone": {
            "description": "Optional: requests will come exclusively for the specified contact's phone number\n\n**Example:** `3051234567`",
            "type": "string",
            "example": "3051234567"
          }
        }
      },
      "Webhook": {
        "description": "Page content and number of elements is restricted by page size.",
        "required": [
          "triggers",
          "url"
        ],
        "type": "object",
        "properties": {
          "webhookId": {
            "type": "string"
          },
          "url": {
            "description": "URL for handling POST request",
            "type": "string"
          },
          "triggers": {
            "description": "Trigger webhook on event types",
            "type": "array",
            "items": {
              "description": "Trigger webhook on event types",
              "type": "string",
              "enum": [
                "INCOMING_MESSAGE",
                "OUTGOING_MESSAGE",
                "DELIVERY_REPORT",
                "NON_DELIVERED_REPORT",
                "UNSUBSCRIBE_REPORT"
              ]
            }
          },
          "requestPerSecLimit": {
            "description": "The maximum number of requests that can be sent within one second",
            "type": "integer",
            "format": "int32"
          },
          "tenantPhone": {
            "description": "Optional: requests will come exclusively for the specified tenant phone number",
            "type": "string"
          },
          "contactPhone": {
            "description": "Optional: requests will come exclusively for the specified contact phone number",
            "type": "string"
          }
        }
      },
      "List Dto": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "A list name containing less than 42 characters\n\n**Example:** `My new list`",
            "type": "string",
            "example": "My new list"
          }
        }
      },
      "MessageRequest": {
        "required": [
          "contactPhone",
          "mode",
          "text"
        ],
        "type": "object",
        "properties": {
          "contactPhone": {
            "description": "Contact's phone\n\n**Example:** `1234567890`",
            "type": "string",
            "example": "1234567890"
          },
          "accountPhone": {
            "description": "The account phone to send from. If this field is left blank, the primary account number will be used as a default\n\n**Example:** `555888`",
            "type": "string",
            "example": "555888"
          },
          "mode": {
            "description": "Determines how your message will be presented:\n\n  - **AUTO** - this means that SimpleTexting will find more relative types for your message content\n\n  - **SMS_STRICTLY** this will send only a single SMS or return an error\n\n  - **MMS** MMS: this will send a MMS or fallback SMS if MMS is not enabled by your contacts' carriers' carrier\n\n**Example:** `SINGLE_SMS_STRICTLY`",
            "type": "string",
            "example": "MMS_STRICTLY",
            "enum": [
              "AUTO",
              "SINGLE_SMS_STRICTLY",
              "MMS_STRICTLY"
            ]
          },
          "text": {
            "description": "Text Body\n\n**Example:** `Hello! How are you?`",
            "type": "string",
            "example": "Hello! How are you?"
          },
          "subject": {
            "description": "MMS Subject (available for MMS)\n\n**Example:** `Some message from SimpleTexting`",
            "type": "string",
            "example": "Some message from SimpleTexting"
          },
          "fallbackText": {
            "description": "Custom fallback text if mms cannot be received. Should contain '[url=%%fallback_link%%]' placeholder that will be replaced with a link to the message\n\n**Example:** `[url=%%fallback_link%%]`",
            "type": "string",
            "example": "[url=%%fallback_link%%]"
          },
          "mediaItems": {
            "description": "List of mms media urls for temporal storing or media items ids\n\n**Example:** `[\"https://txt.so/img.jpg\", \"507f1f77bcf86cd799439011\"]`",
            "type": "array",
            "example": [
              "https://txt.so/img.jpg",
              "507f1f77bcf86cd799439011"
            ]
          }
        }
      },
      "EvaluateMessage": {
        "required": [
          "text"
        ],
        "type": "object",
        "properties": {
          "text": {
            "description": "Text Body\n\n**Example:** `Hello! How are you?`",
            "type": "string",
            "example": "Hello! How are you?"
          },
          "mode": {
            "description": "Determines how your message will be presented:\n\n**AUTO: **this means that SimpleTexting will find more relative types for your message content\n\n**SMS_STRICTLY: **this will send only a single SMS or return an error\n\n**MMS: **this will send a MMS or fallback SMS if MMS is not enabled by your contacts' carriers\n\n**Example:** `SINGLE_SMS_STRICTLY`",
            "type": "string",
            "example": "MMS_STRICTLY",
            "enum": [
              "AUTO",
              "SINGLE_SMS_STRICTLY",
              "MMS_STRICTLY"
            ]
          },
          "subject": {
            "description": "MMS Subject (available for MMS)\n\n**Example:** `New In Store`",
            "type": "string",
            "example": "New In Store"
          },
          "fallbackText": {
            "description": "A custom fallback text if a contact can't receive a MMS message. It should contain a '[url=%%fallback_link%%]' placeholder that will be replaced with a link to the message.\n\n**Example:** `[url=%%fallback_link%%]`",
            "type": "string",
            "example": "[url=%%fallback_link%%]"
          },
          "mediaItems": {
            "description": "List of mms media urls for temporal storing or media items ids\n\n**Example:** `[\"https://txt.so/img.jpg\", \"507f1f77bcf86cd799439011\"]`",
            "type": "array",
            "example": [
              "https://txt.so/img.jpg",
              "507f1f77bcf86cd799439011"
            ]
          }
        }
      },
      "MessageInfo": {
        "type": "object",
        "properties": {
          "detectedCategory": {
            "description": "Autodetected category of message\n\n**Example:** `SMS`",
            "type": "string",
            "example": "SMS",
            "enum": [
              "SMS",
              "MMS",
              "EXTENDED_SMS"
            ]
          },
          "length": {
            "description": "The message length in characters\n\n**Example:** `134`",
            "type": "integer",
            "format": "int32",
            "example": 134
          },
          "remains": {
            "description": "The remaining characters\n\n**Example:** `23`",
            "type": "integer",
            "format": "int32",
            "example": 23
          },
          "maxLength": {
            "description": "The maximum message length in characters with the current message type and encoding\n\n**Example:** `150`",
            "type": "integer",
            "format": "int32",
            "example": 150
          },
          "containsUtfChars": {
            "description": "Determines whether UTF encoding is used\n\n**Example:** `false`",
            "type": "boolean",
            "example": false
          },
          "sumOfCredits": {
            "description": "How much credits message will cost\n\n**Example:** `1`",
            "type": "integer",
            "format": "int32",
            "example": 1
          },
          "warnings": {
            "description": "A list of warning messages if present\n\n**Example:** `[\"Text is blank\"]`",
            "type": "array",
            "items": {
              "description": "A list of warning messages if present",
              "type": "string",
              "example": "Text is blank"
            }
          },
          "errors": {
            "description": "List of error messages if present\n\n**Example:** `[\"Invalid phone number\"]`",
            "type": "array",
            "items": {
              "description": "A list of error messages if present",
              "type": "string",
              "example": "Invalid phone number"
            }
          }
        }
      },
      "MediaItemsPageView": {
        "type": "object",
        "properties": {
          "content": {
            "description": "Page content and number of elements is restricted by page size.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MediaFile"
            }
          },
          "totalPages": {
            "description": "The total number of pages. This is the number of elements divided by the page size.",
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "description": "The total number of elements.",
            "type": "integer",
            "format": "int64"
          }
        },
        "description": "Page representation for search/fetch result"
      },
      "UnsubscribeReport": {
        "type": "object",
        "properties": {
          "reportId": {
            "description": "Unique report id in hexadecimal format\n\n**Example:** `507f191e810c19729de860ea`",
            "type": "string",
            "example": "507f191e810c19729de860ea"
          },
          "webhookId": {
            "description": "Webhook id in hexadecimal format\n\n**Example:** `507f191e810c19729de860ea`",
            "type": "string",
            "example": "507f191e810c19729de860ea"
          },
          "type": {
            "description": "Webhook report content type",
            "type": "string",
            "example": "UNSUBSCRIBE_REPORT",
            "enum": [
              "INCOMING_MESSAGE",
              "OUTGOING_MESSAGE",
              "DELIVERY_REPORT",
              "NON_DELIVERED_REPORT",
              "UNSUBSCRIBE_REPORT"
            ]
          },
          "values": {
            "description": "report content",
            "type": "object",
            "properties": {
              "contactId": {
                "description": "Contact id in hexadecimal format\n\n**Example:** `507f191e810c19729de860ea`",
                "type": "string",
                "example": "507f191e810c19729de860ea"
              },
              "phone": {
                "description": "Contact phone\n\n**Example:** `8001234567`",
                "type": "string",
                "example": "8001234567"
              }
            }
          }
        }
      },
      "DeliveryMessageReport": {
        "type": "object",
        "properties": {
          "reportId": {
            "description": "Unique report id in hexadecimal format\n\n**Example:** `507f191e810c19729de860ea`",
            "type": "string",
            "example": "507f191e810c19729de860ea"
          },
          "webhookId": {
            "description": "Webhook id in hexadecimal format\n\n**Example:** `507f191e810c19729de860ea`",
            "type": "string",
            "example": "507f191e810c19729de860ea"
          },
          "type": {
            "description": "Webhook report content type",
            "type": "string",
            "example": "DELIVERY_REPORT",
            "enum": [
              "INCOMING_MESSAGE",
              "OUTGOING_MESSAGE",
              "DELIVERY_REPORT",
              "NON_DELIVERED_REPORT",
              "UNSUBSCRIBE_REPORT"
            ]
          },
          "values": {
            "description": "report content",
            "type": "object",
            "properties": {
              "messageId": {
                "description": "Message id in hexadecimal format\n\n**Example:** `507f191e810c19729de860ea`",
                "type": "string",
                "example": "507f191e810c19729de860ea"
              },
              "category": {
                "description": "Message category\n\n**Example:** `SMS`",
                "type": "string",
                "example": "SMS",
                "enum": [
                  "SMS",
                  "MMS",
                  "EXTENDED_SMS"
                ]
              },
              "type": {
                "description": "Reference type (available only for MT messages)\n\n**Example:** `API`",
                "type": "string",
                "example": "API"
              },
              "tenantPhone": {
                "description": "Account phone (primary or secondary)\n\n**Example:** `555888`",
                "type": "string",
                "example": "555888"
              },
              "contactPhone": {
                "description": "Contact phone\n\n**Example:** `8001234567`",
                "type": "string",
                "example": "8001234567"
              },
              "carrier": {
                "description": "Name of carrier\n\n**Example:** `Verizon`",
                "type": "string",
                "example": "Verizon"
              }
            }
          }
        }
      },
      "IncommingMessageReport": {
        "type": "object",
        "properties": {
          "reportId": {
            "description": "Unique report id in hexadecimal format\n\n**Example:** `507f191e810c19729de860ea`",
            "type": "string",
            "example": "507f191e810c19729de860ea"
          },
          "webhookId": {
            "description": "Webhook id in hexadecimal format\n\n**Example:** `507f191e810c19729de860ea`",
            "type": "string",
            "example": "507f191e810c19729de860ea"
          },
          "type": {
            "description": "Webhook report content type",
            "type": "string",
            "example": "INCOMING_MESSAGE",
            "enum": [
              "INCOMING_MESSAGE",
              "OUTGOING_MESSAGE",
              "DELIVERY_REPORT",
              "NON_DELIVERED_REPORT",
              "UNSUBSCRIBE_REPORT"
            ]
          },
          "values": {
            "description": "report content",
            "type": "object",
            "properties": {
              "messageId": {
                "description": "Message id in hexadecimal format\n\n**Example:** `507f191e810c19729de860ea`",
                "type": "string",
                "example": "507f191e810c19729de860ea"
              },
              "subject": {
                "description": "Subject (available for MMS)\n\n**Example:** `Some message from SimpleTexting`",
                "type": "string",
                "example": "Some message from SimpleTexting"
              },
              "mediaItems": {
                "description": "List of mms media descriptors: id in hexadecimal format for st-stored file\n\n**Example:** `[\"507f1f77bcf86cd799439011\",\"507f1f77bcf86cd799439333\"]`",
                "type": "array",
                "example": [
                  "507f1f77bcf86cd799439011",
                  "507f1f77bcf86cd799439333"
                ],
                "items": {
                  "description": "List of mms media descriptors: id in hexadecimal format for st-stored file",
                  "type": "string",
                  "example": "[\"507f1f77bcf86cd799439011\",\"507f1f77bcf86cd799439333\"]"
                }
              },
              "text": {
                "description": "Text\n\n**Example:** `Hello! How are you?`",
                "type": "string",
                "example": "Hello! How are you?"
              },
              "tenantPhone": {
                "description": "Account phone (primary or secondary)\n\n**Example:** `555888`",
                "type": "string",
                "example": "555888"
              },
              "contactPhone": {
                "description": "Contact phone\n\n**Example:** `8001234567`",
                "type": "string",
                "example": "8001234567"
              },
              "timestamp": {
                "description": "Time of sending. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.\n\n**Example:** `2020-04-28T23:20:08.489Z`",
                "type": "string",
                "format": "date-time",
                "example": "2020-04-28T23:20:08.489Z"
              },
              "category": {
                "description": "Message category\n\n**Example:** `SMS`",
                "type": "string",
                "example": "SMS",
                "enum": [
                  "SMS",
                  "MMS",
                  "EXTENDED_SMS"
                ]
              },
              "type": {
                "description": "Reference type (available only for MT messages)\n\n**Example:** `API`",
                "type": "string",
                "example": "API"
              }
            }
          }
        }
      },
      "MediaFile": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Existing media id in hexadecimal format\n\n**Example:** `607f0558a7c898629dd47d7a`",
            "type": "string",
            "example": "607f0558a7c898629dd47d7a"
          },
          "createdDate": {
            "description": "When the media was created. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.\n\n**Example:** `2021-04-28T23:20:08.489Z`",
            "type": "string",
            "format": "date-time",
            "example": "2021-04-28T23:20:08.489Z"
          },
          "name": {
            "description": "File name\n\n**Example:** `test.jpg`",
            "type": "string",
            "example": "myfile.jpg"
          },
          "gallery": {
            "description": "Gallery\n\n**Example:** `mms`",
            "type": "string",
            "example": "mms"
          },
          "size": {
            "description": "File size\n\n**Example:** `10`",
            "type": "integer",
            "format": "int64",
            "example": 10
          },
          "status": {
            "description": "Status of the file\n\n**Example:** `PROCESSED`",
            "type": "string",
            "example": "PROCESSED"
          },
          "link": {
            "description": "Location of file\n\n**Example:** `https://app2.simpletexting.com/content/public-files/607f0558a7c898629dd47d7a`",
            "type": "string",
            "example": "https://app2.simpletexting.com/content/public-files/607f0558a7c898629dd47d7a"
          },
          "contentType": {
            "description": "File media type\n\n**Example:** `image/png`",
            "type": "string",
            "example": "image/png"
          },
          "ext": {
            "description": "File extension\n\n**Example:** `png`",
            "type": "string",
            "example": "png"
          },
          "canDelete": {
            "description": "Ability to delete file\n\n**Example:** `true`",
            "type": "boolean",
            "example": true
          }
        }
      },
      "UploadByLink": {
        "required": [
          "link"
        ],
        "type": "object",
        "properties": {
          "link": {
            "description": "The url you will upload your media to\n\n**Example:** `https://simpletexting.com/wp-content/uploads/2019/08/7kAnVTq5Pb9TxEJbBNMDwh-768-80-1.jpg`",
            "type": "string",
            "example": "https://simpletexting.com/wp-content/uploads/2019/08/7kAnVTq5Pb9TxEJbBNMDwh-768-80-1.jpg"
          }
        },
        "description": "UploadByLink Request"
      },
      "SingleContactUpdate": {
        "type": "object",
        "properties": {
          "contactPhone": {
            "description": "Contact's phone number\n\n**Example:** `1234567890`",
            "type": "string",
            "example": "1234567890"
          },
          "firstName": {
            "description": "Contact's first name.\n\n**Example:** `John`",
            "maximum": 100,
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "description": "Contact's last name\n\n**Example:** `Doe`",
            "maximum": 100,
            "type": "string",
            "example": "Doe"
          },
          "email": {
            "description": "Contact's email\n\n**Example:** `john.doe@simpletext.org`",
            "type": "string",
            "example": "john.doe@simpletext.org"
          },
          "birthday": {
            "description": "Contact's birthday in format (yyyy-mm-dd)\n\n**Example:** `1985-05-05`",
            "type": "string",
            "example": "1985-05-05"
          },
          "customFields": {
            "description": "Any custom field of a contact, where customField must be replaced with the actual custom field’s parameter. For example, if you have a Street address custom field, you would use the parameter street_address.",
            "type": "object",
            "additionalProperties": {
              "description": "\n\n**Example:** `{\"zipcode\":\"12345\"}`",
              "type": "string",
              "example": "{\"zipcode\":\"12345\"}"
            },
            "example": {
              "zipcode": "12345"
            }
          },
          "comment": {
            "description": "Notes about the contact.\n\n**Example:** `VIP client`",
            "maximum": 1000,
            "type": "string",
            "example": "VIP client"
          },
          "listIds": {
            "description": "All the lists (List ids or names) to add the contact to or replace.\n\n**Example:** `[\"507f191e810c19729de860ea\", \"My First List\"]`",
            "type": "array",
            "example": [
              "507f191e810c19729de860ea",
              "My First List"
            ]
          }
        }
      },
      "ContactUpdate": {
        "required": [
          "contactPhone"
        ],
        "type": "object",
        "properties": {
          "contactPhone": {
            "description": "Contact's phone number\n\n**Example:** `1234567890`",
            "type": "string",
            "example": "1234567890"
          },
          "firstName": {
            "description": "Contact first name\n\n**Example:** `John`",
            "maximum": 100,
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "description": "Contact last name\n\n**Example:** `Doe`",
            "maximum": 100,
            "type": "string",
            "example": "Doe"
          },
          "email": {
            "description": "Contact's email\n\n**Example:** `john.doe@simpletexting.net`",
            "type": "string",
            "example": "john.doe@simpletexting.net"
          },
          "birthday": {
            "description": "Contact's birthday in format (yyyy-mm-dd): yyyy-mm-dd\n\n**Example:** `1985-05-05`",
            "type": "string",
            "example": "1985-05-05"
          },
          "customFields": {
            "description": "Any custom field of a contact, where customField must be replaced with the actual custom field’s parameter. For example, if you have a Street address custom field, you would use the parameter street_address.",
            "type": "object",
            "additionalProperties": {
              "description": "\n\n**Example:** `{\"zipcode\":\"12345\"}`",
              "type": "string",
              "example": "{\"zipcode\":\"12345\"}"
            },
            "example": {
              "zipcode": "12345"
            }
          },
          "comment": {
            "description": "Notes about the contact.\n\n**Example:** `VIP client`",
            "maximum": 1000,
            "type": "string",
            "example": "VIP client"
          },
          "listIds": {
            "description": "All the lists (List ids or names) to add the contact to or replace.\n\n**Example:** `[\"507f191e810c19729de860ea\", \"My First List\"]`",
            "type": "array",
            "example": [
              "507f191e810c19729de860ea",
              "My First List"
            ]
          }
        }
      },
      "ContactsBatchUpdate": {
        "required": [
          "updates"
        ],
        "type": "object",
        "properties": {
          "updates": {
            "description": "List of updates for contacts",
            "maxItems": 500,
            "minItems": 0,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactUpdate"
            }
          },
          "listsReplacement": {
            "description": "If listsReplacement is set to true, a contact will be removed from their existing list. If set to false, a contact will be added to a new list and stay in their original list.\n\n**Example:** `true`",
            "type": "boolean",
            "example": true,
            "default": true
          }
        },
        "description": "Add new contacts or update existing, based on unique contact phone. One contact per object in the array"
      },
      "ResponseID": {
        "description": "Create Contact Result",
        "type": "object",
        "properties": {
          "id": {
            "description": "Id of item in hexadecimal format.\n\n**Example:** `507f191e810c19729de860ea`",
            "type": "string",
            "example": "507f191e810c19729de860ea"
          }
        }
      },
      "ContactUpdateResult": {
        "description": "List of update results",
        "type": "object",
        "properties": {
          "done": {
            "description": "If operation was successful\n\n**Example:** `true`",
            "type": "boolean",
            "example": true
          },
          "contactPhone": {
            "description": "Contact phone from update request\n\n**Example:** `1234567890`",
            "type": "string",
            "example": "1234567890"
          },
          "contactId": {
            "description": "Contact id if contact exists\n\n**Example:** `507f1f77bcf86cd799439011`",
            "type": "string",
            "example": "507f1f77bcf86cd799439011"
          },
          "errorCode": {
            "description": "Operation error code, if operation has failed\n\n**Example:** `CONTACT_CREATE_FAILED`",
            "type": "string",
            "example": "CONTACT_CREATE_FAILED",
            "enum": [
              "CONTACT_CREATE_INTERNAL_ERROR",
              "CONTACT_UPDATE_INTERNAL_ERROR",
              "CONTACT_IMPORT_LIMIT_IS_REACHED",
              "CONTACT_CREATE_FAILED",
              "CONTACT_UPDATE_FAILED"
            ]
          },
          "errorMessage": {
            "description": "Additional error message if operation has failed\n\n**Example:** `Contacts limit is reached`",
            "type": "string",
            "example": "Contacts limit is reached"
          }
        }
      },
      "ContactsBatchUpdateResult": {
        "type": "object",
        "properties": {
          "results": {
            "description": "List of update results",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactUpdateResult"
            }
          }
        }
      },
      "ContactsBatchDelete": {
        "required": [
          "contactPhones"
        ],
        "type": "object",
        "properties": {
          "contactPhones": {
            "description": "List of contacts' phone numbers for deletion\n\n**Example:** `[\"1234567890\",\"1234567891\"]`",
            "maxItems": 500,
            "minItems": 0,
            "type": "array",
            "example": [
              "1234567890"
            ],
            "items": {
              "description": "List of contact phones for deletion",
              "type": "string",
              "example": "[\"1234567890\"]"
            }
          }
        },
        "description": "ContactsBatchDelete"
      },
      "ContactDeleteResult": {
        "description": "List of deletion results",
        "type": "object",
        "properties": {
          "done": {
            "description": "If operation was successful\n\n**Example:** `true`",
            "type": "boolean",
            "example": true
          },
          "contactPhone": {
            "description": "Contact's phone number from the delete request\n\n**Example:** `1234567890`",
            "type": "string",
            "example": "1234567890"
          },
          "contactid": {
            "description": "Contact id if contact was found\n\n**Example:** `507f1f77bcf86cd799439011`",
            "type": "string",
            "example": "507f1f77bcf86cd799439011"
          },
          "errorCode": {
            "description": "Contact's phone number from the delete request\n\n**Example:** `UNKNOWN_CONTACT_PHONE`",
            "type": "string",
            "example": "UNKNOWN_CONTACT_PHONE",
            "enum": [
              "UNKNOWN_CONTACT_PHONE",
              "CONTACT_DELETE_INTERNAL_ERROR"
            ]
          },
          "errorMessage": {
            "description": "Additional error message if the operation has failed\n\n**Example:** `Contact with provided phone number is missing`",
            "type": "string",
            "example": "Contact with provided phone number is missing"
          }
        }
      },
      "ContactsBatchDeleteResult": {
        "type": "object",
        "properties": {
          "results": {
            "description": "List of the deleted contacts",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ContactDeleteResult"
            }
          }
        }
      },
      "WebhooksPageView": {
        "type": "object",
        "properties": {
          "content": {
            "description": "Page content and number of elements is restricted by page size.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FetchedWebhook"
            }
          },
          "totalPages": {
            "description": "The total number of pages. This is the number of elements divided by the page size.",
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "description": "The total number of elements.",
            "type": "integer",
            "format": "int64"
          }
        },
        "description": "Page representation for search/fetch result"
      },
      "MessagePageView": {
        "type": "object",
        "properties": {
          "content": {
            "description": "Page content and number of elements is restricted by page size.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Message"
            }
          },
          "totalPages": {
            "description": "The total number of pages. This is the number of elements divided by the page size.",
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "description": "The total number of elements.",
            "type": "integer",
            "format": "int64"
          }
        },
        "description": "Page representation for search/fetch result"
      },
      "Message": {
        "description": "Page content and number of elements is restricted by page size.",
        "type": "object",
        "properties": {
          "id": {
            "description": "Message id in hexadecimal format\n\n**Example:** `507f191e810c19729de860ea`",
            "type": "string",
            "example": "507f191e810c19729de860ea"
          },
          "subject": {
            "description": "Subject (available for MMS)\n\n**Example:** `Some message from SimpleTexting`",
            "type": "string",
            "example": "Some message from SimpleTexting"
          },
          "text": {
            "description": "Text\n\n**Example:** `Hello! How are you?`",
            "type": "string",
            "example": "Hello! How are you?"
          },
          "contactPhone": {
            "description": "Contact phone\n\n**Example:** `8001234567`",
            "type": "string",
            "example": "8001234567"
          },
          "accountPhone": {
            "description": "Account phone (primary or secondary)\n\n**Example:** `555888`",
            "type": "string",
            "example": "555888"
          },
          "directionType": {
            "description": "MT/MO (Mobile-Terminated / Mobile-Originated)\n\n**Example:** `MO`",
            "type": "string",
            "example": "MO",
            "enum": [
              "MT",
              "MO"
            ]
          },
          "timestamp": {
            "description": "Time of sending. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.\n\n**Example:** `2020-04-28T23:20:08.489Z`",
            "type": "string",
            "format": "date-time",
            "example": "2020-04-28T23:20:08.489Z"
          },
          "referenceType": {
            "description": "Reference type (available only for MT messages)\n\n**Example:** `API`",
            "type": "string",
            "example": "API"
          },
          "category": {
            "description": "Message category\n\n**Example:** `SMS`",
            "type": "string",
            "example": "SMS",
            "enum": [
              "SMS",
              "MMS",
              "EXTENDED_SMS"
            ]
          },
          "mediaItems": {
            "description": "List of mms media descriptors: id in hexadecimal format for st-stored file\n\n**Example:** `[\"507f1f77bcf86cd799439011\",\"507f1f77bcf86cd799439333\"]`",
            "type": "array",
            "example": [
              "507f1f77bcf86cd799439011",
              "507f1f77bcf86cd799439333"
            ],
            "items": {
              "description": "List of mms media descriptors: id in hexadecimal format for st-stored file",
              "type": "string",
              "example": "[\"507f1f77bcf86cd799439011\",\"507f1f77bcf86cd799439333\"]"
            }
          }
        }
      },
      "CampaignPageView": {
        "type": "object",
        "properties": {
          "content": {
            "description": "Page content and number of elements is restricted by page size.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FetchedCampaign"
            }
          },
          "totalPages": {
            "description": "The total number of pages. This is the number of elements divided by the page size.",
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "description": "The total number of elements.",
            "type": "integer",
            "format": "int64"
          }
        },
        "description": "Page representation for search/fetch result"
      },
      "ContactPageView": {
        "type": "object",
        "properties": {
          "content": {
            "description": "Page content and number of elements is restricted by page size.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "totalPages": {
            "description": "The total number of pages. This is the number of elements divided by the page size.",
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "description": "The total number of elements.",
            "type": "integer",
            "format": "int64"
          }
        },
        "description": "Page representation for search/fetch result"
      },
      "CustomFieldPageView": {
        "type": "object",
        "properties": {
          "content": {
            "description": "Page content and number of elements is restricted by page size.",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "totalPages": {
            "description": "The total number of pages. This is the number of elements divided by the page size.",
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "description": "The total number of elements.",
            "type": "integer",
            "format": "int64"
          }
        },
        "description": "Page representation for search/fetch result"
      },
      "CustomField": {
        "description": "Any custom field of a contact, where customField must be replaced with the actual custom field’s parameter. For example, if you have a Street address custom field, you would use the parameter street_address.",
        "type": "object",
        "properties": {
          "label": {
            "description": "Label Given to Custom Field Type\n\n**Example:** `My Custom Field`",
            "type": "string",
            "example": "My Custom Field"
          },
          "type": {
            "description": "Custom Field Type\n\n**Example:** `text`",
            "type": "string",
            "example": "text"
          },
          "mergeTag": {
            "description": "Merge tag to be added to message\n\n**Example:** `my_custom_field`",
            "type": "string",
            "example": "my_custom_field"
          },
          "defaultMaxLength": {
            "description": "Max length of the custom field\n\n**Example:** `15`",
            "type": "integer",
            "format": "int32",
            "example": 32
          }
        }
      },
      "FetchedCampaign": {
        "description": "Page content and number of elements is restricted by page size.",
        "type": "object",
        "properties": {
          "campaignId": {
            "description": "Existing campaign id in hexadecimal format\n\n**Example:** `607f0558a7c898629dd47d7a`",
            "type": "string",
            "example": "607f0558a7c898629dd47d7a"
          },
          "title": {
            "description": "Campaign name\n\n**Example:** `My first campaign`",
            "type": "string",
            "example": "My first campaign"
          },
          "accountPhone": {
            "description": "Number the campaign was sent from\n\n**Example:** `555888`",
            "type": "string",
            "example": "555888"
          },
          "customFieldsMaxLength": {
            "description": "Custom fields length in current campaign",
            "type": "object",
            "additionalProperties": {
              "description": "\n\n**Example:** `{\"firstname\":\"20\"}`",
              "type": "string",
              "example": "{\"firstname\":\"20\"}"
            },
            "example": {
              "firstname": "20"
            }
          },
          "state": {
            "description": "The the current state of the campaign\n\n**Example:** `COMPLETED`",
            "type": "string",
            "enum": [
              "DRAFT",
              "SCHEDULED",
              "READY_FOR_SEND",
              "MONITORING",
              "IN_PROGRESS",
              "QUEUED",
              "COMPLETED",
              "ERROR",
              "PAUSED_ON_SCHEDULED",
              "PAUSED_ON_IN_PROGRESS",
              "PAUSED_ON_QUEUED",
              "PAUSED_ON_RUN",
              "PAUSED"
            ],
            "example": "COMPLETED"
          },
          "listsOrSegments": {
            "description": "List of lists or segments campaign was sent to",
            "type": "array",
            "example": [
              {
                "id": "5f6c760379f4e93135aac72b",
                "name": "My First List"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Contact list"
            }
          },
          "created": {
            "description": "Created timestamp. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.\n\n**Example:** `2021-04-28T23:20:08.489Z`",
            "type": "string",
            "format": "date-time",
            "example": "2021-04-28T23:20:08.489Z"
          },
          "modified": {
            "description": "Modified timestamp. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.\n\n**Example:** `2021-04-28T23:20:08.489Z`",
            "type": "string",
            "format": "date-time",
            "example": "2021-04-28T23:20:08.489Z"
          },
          "started": {
            "description": "Started timestamp. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.\n\n**Example:** `2021-04-28T23:20:08.489Z`",
            "type": "string",
            "format": "date-time",
            "example": "2021-04-28T23:20:08.489Z"
          },
          "finished": {
            "description": "Finished timestamp. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.\n\n**Example:** `2021-04-28T23:20:08.489Z`",
            "type": "string",
            "format": "date-time",
            "example": "2021-04-28T23:20:08.489Z"
          },
          "messageTemplate": {
            "description": "Template of message sent\n\n**Example:** `{\"subject\": \"Some message from SimpleTexting\",\"text\": \"Hello! How are you?\",\"fallbackText\": \"Some text\",\"mediaItems\": [\"https://txt.so/img.jpg\",\"507f1f77bcf86cd799439333\"]}`",
            "type": "object",
            "example": {
              "$ref": "#/components/schemas/FetchedCampaignTemplate"
            }
          }
        }
      },
      "FetchedCampaignTemplate": {
        "subject": "Some message from SimpleTexting",
        "text": "Hello! How are you?",
        "fallbackText": "Some text",
        "mediaItems": [
          "https://txt.so/img.jpg",
          "507f1f77bcf86cd799439333"
        ]
      },
      "CreateCampaignTemplate": {
        "required": [
          "title",
          "messageTemplate"
        ],
        "type": "object",
        "properties": {
          "title": {
            "description": "Campaign title\n\n**Example:** `My first campaign`",
            "type": "string",
            "example": "My first campaign"
          },
          "listsOrSegments": {
            "description": "Lists or segments ids or names\n\n**Example:** `[\"507f191e810c19729de860ea\",\"My First List\"]`",
            "type": "array",
            "example": [
              "507f191e810c19729de860ea",
              "My First List"
            ],
            "items": {
              "description": "Lists or segments ids or names",
              "type": "string",
              "example": "[\"507f191e810c19729de860ea\", \"My First List\"]"
            }
          },
          "accountPhone": {
            "description": "Account phone, primary number is default\n\n**Example:** `555888`",
            "type": "string",
            "example": "555888"
          },
          "customFieldsMaxLength": {
            "description": "Custom fields length in current campaign, overwrite default settings. See /custom-fields\n\n**Example:** `{\"firstname\":\"20\"}`",
            "type": "object",
            "properties": {
              "firstName": {
                "description": "Custom field name and max length",
                "type": "integer",
                "example": 20
              }
            }
          },
          "messageTemplate": {
            "description": "Campaign Template\n\n**Example:** `{ \"title\": \"My first campaign\", \"subject\": \"My first campaign\", \"text\": \"Hi %%firstname%%, welcome to our campaign!\", \"fallbackText\": \"My first campaign\", \"mediaItems\": [ \"https://txt.so/img.jpg\", \"507f1f77bcf86cd799439011\" ] }`",
            "type": "object",
            "properties": {
              "title": {
                "description": "Campaign title\n\n**Example:** `My first campaign`",
                "type": "string",
                "example": "My first campaign"
              },
              "subject": {
                "description": "Subject (available for MMS)\n\n**Example:** `Some message from SimpleTexting`",
                "type": "string",
                "example": "My first campaign"
              },
              "text": {
                "description": "Text body\n\n**Example:** `Hi %%firstname%%, welcome to our campaign!`",
                "type": "string",
                "example": "Hi %%firstname%%, welcome to our campaign!"
              },
              "fallbackText": {
                "description": "Custom fallback text if mms cannot be received. Should contains '[url=\"%%fallback_link%%\"]' placeholder that will be replaced with a link to the message\n\n**Example:** `Some text`",
                "type": "string",
                "example": "My first campaign"
              },
              "mediaItems": {
                "description": "List of mms media urls for temporal storing or media items ids\n\n**Example:** `[\"https://txt.so/img.jpg\", \"507f1f77bcf86cd799439011\"]`",
                "type": "array",
                "example": [
                  "https://txt.so/img.jpg",
                  "507f1f77bcf86cd799439011"
                ],
                "items": {
                  "description": "List of mms media urls or media items ids",
                  "type": "string",
                  "example": "[\"507f191e810c19729de860ea\", \"https://txt.so/img.jpg\"]"
                }
              }
            }
          }
        }
      },
      "Contact": {
        "description": "Page content and number of elements is restricted by page size.",
        "type": "object",
        "properties": {
          "contactId": {
            "description": "Existing contact id in hexadecimal format\n\n**Example:** `607f0558a7c898629dd47d7a`",
            "type": "string",
            "example": "607f0558a7c898629dd47d7a"
          },
          "contactPhone": {
            "description": "Contact's phone number\n\n**Example:** `1234567890`",
            "type": "string",
            "example": "1234567890"
          },
          "firstName": {
            "description": "Contact's first name\n\n**Example:** `John`",
            "type": "string",
            "example": "John"
          },
          "lastName": {
            "description": "Contact's last name\n\n**Example:** `Doe`",
            "type": "string",
            "example": "Doe"
          },
          "email": {
            "description": "Contact's email\n\n**Example:** `john.doe@simpletext.org`",
            "type": "string",
            "example": "john.doe@simpletext.org"
          },
          "birthday": {
            "description": "Contact's birthday in format (yyyy-mm-dd)\n\n**Example:** `1985-05-05`",
            "type": "string",
            "example": "1985-05-05"
          },
          "customFields": {
            "description": "Any custom field of a contact, where customField must be replaced with the actual custom field’s parameter. For example, if you have a Street address custom field, you would use the parameter street_address.",
            "type": "object",
            "additionalProperties": {
              "description": "\n\n**Example:** `{\"zipcode\":\"12345\"}`",
              "type": "string",
              "example": "{\"zipcode\":\"12345\"}"
            },
            "example": {
              "zipcode": "12345"
            }
          },
          "comment": {
            "description": "Notes about the contact\n\n**Example:** `VIP client`",
            "type": "string",
            "example": "VIP client"
          },
          "lists": {
            "description": "Array of objects (Contact list) All the lists where the contact is stored subscriptionStatus",
            "type": "array",
            "example": [
              {
                "id": "5f6c760379f4e93135aac72b",
                "name": "My First List"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Contact list"
            }
          },
          "subscriptionStatus": {
            "description": "Contact's subscription status\n\n**Example:** `OPT_IN`",
            "type": "string",
            "example": "OPT_IN",
            "enum": [
              "OPT_IN",
              "OPT_OUT",
              "WAIT_SMS_CONFIRMATION",
              "REJECT_CONFIRMATION"
            ]
          },
          "created": {
            "description": "When the contact was created. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.\n\n**Example:** `2021-04-28T23:20:08.489Z`",
            "type": "string",
            "format": "date-time",
            "example": "2021-04-28T23:20:08.489Z"
          },
          "updated": {
            "description": "When the contact was updated. The time is in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.\n\n**Example:** `2021-04-28T23:20:08.489Z`",
            "type": "string",
            "format": "date-time",
            "example": "2021-05-28T20:20:08.489Z"
          },
          "updateSource": {
            "description": "How the contact was updated\n\n**Example:** `IMPORTED_FROM_FILE`",
            "type": "string",
            "enum": [
              "IMPORTED_FROM_FILE",
              "PUBLIC_API",
              "MAILCHIMP_SYNC",
              "KEYWORD",
              "WEB_FORM",
              "MANUAL",
              "REMINDER",
              "ZAPIER",
              "WORKATO",
              "CONFIRMATION",
              "INCOMING_MESSAGE"
            ],
            "example": "IMPORTED_FROM_FILE"
          }
        }
      },
      "Contact list": {
        "type": "object",
        "properties": {
          "id": {
            "description": "Existing list id",
            "type": "string",
[...]
